body {
    height: 100vh !important;
}
.container {
    max-width: 500px;
}
form {
    display: flex;
    flex-direction: column;
}
label {
    margin-top: 10px;
    color: #333;
}
input[type="text"], input[type="email"], input[type="password"], input[type="url"] {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
input[type="submit"] {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}
input[type="submit"]:hover {
    background-color: #45a049;
}
