
.userBar{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 60px;
    margin-block: 0;
    z-index: 999;
}

.userBar .userPic {
    width: 40px;
    height: 40px;
    margin-left: 20px;
    border-radius: 50%;
    background-color: #45a049;
}

.userBar .username {
    margin-block: 0;
    margin-right: 4rem;
    margin-left: 1rem;
}

.userBar .editButton {
    margin-block: 0;
    color: #333;
    padding: 3px 15px;
    background-color: #ccc;
    border-radius: 5px;
    text-decoration: none;
}