.container {
    max-width: 800px;
}
.profile-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.profile-header img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-right: 20px;
}
.profile-header h1 {
    margin: 0 !important;
}
.profile-info {
    margin-bottom: 20px;
}
.profile-info p {
    margin: 5px 0;
    color: #666;
}
.profile-posts h2 {
    color: #333;
}
.post {
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.post h3 {
    margin: 0;
}
.post p {
    margin: 5px 0;
    color: #666;
}
.post a {
    color: #4CAF50;
    text-decoration: none;
    font-weight: bold;
}
.post a:hover {
    text-decoration: underline;
}
.post img {
    width: 100%;
}
input[type="submit"] {
    padding: 5px 10px;
    margin-left: 100px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
}