<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Posts</title>
    <link rel="stylesheet" href="./css/list_posts.css">
</head>
<body>
    <div class="container">
        <h1>All Posts</h1>
        
        <a href="/new" class="new-post-link">Create New Post</a>
        {{range .}}
        <h2><a href="/post/{{.ID}}">{{.Title}}</a></h2>
        <p>{{.Content}}</p>
        <img id="post-image" src="{{.Image}}" alt="img">
        <div>
            <a href="/post/edit/{{.ID}}">Edit</a>
            <form action="/post/delete/{{.ID}}" method="post">
                <input type="submit" value="Delete">
            </form>
        </div>
        <hr>
        {{end}}
    </div>
</body>
</html>