<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" type="text/css" href="/static/css/view_profile.css">    
</head>
<body>
    <div class="container">
        <div class="profile-header">
            <img src="{{.User.Icon}}" alt="Profile">
            <h1>{{.User.Username}}</h1>
        </div>
        <div class="profile-info">
            <p>Email: {{.User.Email}}</p>
            <p>Joined: {{.User.CreatedAt}}</p>
        </div>
        <div class="profile-posts">
            <h2>Your Posts</h2>
            {{range .Posts}}
            <div class="post">
                <h3><a href="/post/{{.ID}}">{{.Title}}</a></h3>
                <p>{{.Content}}</p>
                <img src="{{.Image}}" alt="img">
            </div>
            {{end}}
        </div>
    </div>
</body>
</html>
