<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Title}}</title>
    <link rel="stylesheet" type="text/css" href="../templates/css/view_post.css">
</head>
<body>
    <div class="container">
        <h1>{{.Title}}</h1>
        <p>{{.Content}}</p>
        <div class="actions">
            <a href="/post/edit/{{.ID}}">Edit</a>
            <form action="/post/delete/{{.ID}}" method="post">
                <input type="submit" value="Delete">
            </form>
        </div>
        <div class="back-link">
            <a href="/">Back to Posts</a>
        </div>
    </div>
</body>
</html>